@model EstateAgents.IMS.Models.ServiceManagement.ManageValuationsViewModel

<ul class="breadcrumb hidden-xs">
    <li>
        <a href="/Home/Index">Home</a>
    </li>
    <li>
        Service Management
    </li>
    <li>
        Manage Valuations
    </li>
</ul>

<div class="jumbotron">
    <h1>
        <i class="fa fa-percent text-success hidden-xs"></i>
        Manage Valuations
    </h1>
    <p>View a list of valuations</p>
</div>