@model EstateAgents.IMS.Models.ServiceManagement.ManageRemovalsViewModel

<ul class="breadcrumb hidden-xs">
    <li>
        <a href="/Home/Index">Home</a>
    </li>
    <li>
        Service Management
    </li>
    <li>
        Manage Removals
    </li>
</ul>

<div class="jumbotron">
    <h1>
        <i class="fa fa-exchange text-success hidden-xs"></i>
        Manage Removals
    </h1>
    <p>View a list of removals</p>
</div>