@model EstateAgents.IMS.Models.ServiceManagement.ManageRemovalsViewModel

<ul class="breadcrumb hidden-xs">
    <li>
        <a href="/Home/Index">Home</a>
    </li>
    <li>
        Service Management
    </li>
    <li>
        Manage Removals
    </li>
</ul>

<div class="jumbotron">
    <h1>
        <i class="fa fa-exchange text-success hidden-xs"></i>
        Manage Removals
    </h1>
    <p>View a list of removals</p>
</div>


<hr />
<table id="removals" class="display" style="width:100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>Address</th>
            <th>Call</th>
            <th>Process</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.PropertyRemovals)
        {
            var Client = EstateAgents.Library.DAL.EstateAgentsRepository.GetClientByClientId(item.ClientId);
            var Name = Client.Title + " " + Client.Forename + " " + Client.Surname;
            var Address = item.PropertyAddressLine1 + "," + item.PropertyAddressLine2 + "," + item.PropertyAddressLine3 + "," + item.PropertyAddressLine4 + "," + item.PropertyAddressPostcode;
            <tr style="background:white;color:black;">
                <td style="background:white;color:black;">@Name</td>
                <td>@Client.Email</td>
                <td>@Client.Mobile</td>
                <td>@Address</td>
                <td> <a class="btn btn-success btn-block" style="text-decoration:none;" href="tel:+@Client.Mobile"><i class="fa fa-phone"></i> Call </a></td>
                <td> <a class="btn btn-success btn-block" style="text-decoration:none;" href="/ServiceManagement/ProcessRemoval/@item.Id">Process</a></td>
            </tr>
        }
    </tbody>
</table>

@section FooterScripts{
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#removals').DataTable();
        });
    </script>
}
