@model EstateAgents.IMS.Models.ServiceManagement.ManageBrokersViewModel

<ul class="breadcrumb hidden-xs">
    <li>
        <a href="/Home/Index">Home</a>
    </li>
    <li>
        Service Management
    </li>
    <li>
        Manage Brokers
    </li>
</ul>

<div class="jumbotron">
    <h1>
        <i class="fa fa-user-plus text-success hidden-xs"></i>
        Manage Brokers
    </h1>
    <p>View a list of brokers</p>
</div>