@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron hidden-xs">
    <h1><i class="fa fa-lock text-success"></i> Register or Login</h1>
    <p class="lead">Book viewings, save properties, make offers and message experts 24/7</p>
</div>

<div class="row">
    <div class="col-md-6">

    </div>
    <div class="col-md-6">
        
    </div>
</div>
