@using EstateAgents.WebPortal.Models
@model LoginViewModel
@{

}

<div class="col-md-6">
    <div class="well">

        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {

            <h3>
                <i class="fa fa-sign-in"></i>
                Sign In
            </h3>

            <br />

            @Html.EditorFor(m => m.Email)
            @Html.EditorFor(m => m.Password)
            @Html.EditorFor(m => m.RememberMe)

            <div class="form-group">
                <div class="col-sm-9 col-lg-10 col-sm-offset-3 col-lg-offset-2">
                    <button class="btn btn-success btn-block" type="submit" name="submit" value="Submit">Sign In</button>
                </div>
            </div>

            <div class="form-group">
                <small class="col-sm-9 col-lg-10 col-sm-offset-3 col-lg-offset-2">
                    Click @Html.ActionLink("here", "reset-password") if you can't sign in.
                </small>
            </div>



        }
    </div>
</div>