
<ul class="breadcrumb hidden-xs">
    <li>
        <a href="/Home/Index">Home</a>
    </li>
    <li>
        <a href="/Account/Login">Login</a>
    </li>
    <li>
        <a href="/Account/ForgotPassword">Forgot Password</a>
    </li>
    <li>
        Forgot Password Confirmation
    </li>
</ul>

<div class="jumbotron hidden-xs">
    <h1><i class="fa fa-lock text-success"></i> Forgot Password Confirmation</h1>
    <p class="lead">Password reset email has been sent</p>
</div>

<h4 class="sample-header">Forgot Password Confirmation</h4>
<div class="row sample-content" style="margin-left:0;margin-right:0;margin-bottom:20px;">
    <p>
        Please check your email to reset your password.
    </p>
</div>

