

<div class="jumbotron" href="/articles" style="margin-bottom:10px;">
    <h1><i Class="fa fa-smile-o text-success hidden-xs"></i> Hi Lee Employee@*@Model.EmployeeDetails.Forename*@</h1>
    <p> Welcome to the Content <b class="text-success">Dashboard</b> </p>
</div>

<div class="row" style="margin-bottom:-15px;">
    <div class="col-md-12">
        <h3 class="text-success"><b>Maintain the Web Portal here</b></h3>
    </div>
</div>

<hr />
<div class="row" style="margin-bottom:20px;">
    <div class="col-sm-4 text-center">
        <a href="/PropertyMaintenance/PropertyMaintenance" class="service-icon">
            <i class="fa fa-home" title="Property Maintenance"></i>
            <h3>Property Maintenance</h3>
        </a>
    </div>
    <div class="col-sm-4 text-center">
        <a href="/OptionMaintenance/OptionMaintenance" class="service-icon">
            <i class="fa fa-list" title="Option Maintenance"></i>
            <h3>Option Maintenance</h3>
        </a>
    </div>
    <div class="col-sm-4 text-center">
        <a href="/NewsMaintenance/NewsMaintenance" class="service-icon">
            <i class="fa fa-newspaper-o" title="News Maintenance"></i>
            <h3>News Maintenance</h3>
        </a>
    </div>
</div>