body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}


.footer {
    background-color: #666666;
    color: white;
    margin-top: 10px;
    font-size: 12px;
}

.footer-logo-container {
    width: 220px;
    padding: 20px 20px 20px 40px;
}

.footer-link {
    color: white;
}

.footer-li-header {
    padding-bottom: 10px;
}

.footer-ul {
    list-style-type: none;
}

.footer-col {
    width: 200px;
}

.footer-col-bg {
    width: 250px;
}

.footer-content-bottom-row {
    padding-right: 20px;
}

.footer-content-bottom-col {
    padding: 10px 10px 20px 40px;
}

hr{
    height:3px;
    border:0;
    border-bottom:3px dashed #eee;
}

.service-icon i {
    font-size: 40px !important;
}