body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}


.footer {
    background-color: #666666;
    color: white;
    margin-top: 10px;
    font-size: 12px;
}

.footer-logo-container {
    width: 220px;
    padding: 20px 20px 20px 40px;
}

.footer-link {
    color: white;
}

.footer-li-header {
    padding-bottom: 10px;
}

.footer-ul {
    list-style-type: none;
}

.footer-col {
    width: 200px;
}

.footer-col-bg {
    width: 250px;
}

.footer-content-bottom-row {
    padding-right: 20px;
}

.footer-content-bottom-col {
    padding: 10px 10px 20px 40px;
}

hr{
    height:3px;
    border:0;
    border-bottom:3px dashed #eee;
}

.service-icon i {
    font-size: 40px !important;
}

.sample-header {
    color: #FFFFFF;
    padding: 8px 15px;
    display: inline-block;
    margin: 10px 0px 0px 0px;
    background-color: #4797A8;
}

.sample-content {
    display: block;
    border-width: 0;
    padding: 15px 20px;
    background: #FFFFFF;
    border: 1px solid #4797A8;
    margin: 0px 0px 10px 0px;
}


.block-arrow {
    margin-right: 15px;
    font-size: 0.7em;
    background-color: #4797A8;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    position: relative;
    top: -2px;
    color: white;
    padding-left: 30px;
    padding-right: 15px;
    border-right: 10px solid white;
}

.block-arrow:before {
    color: white;
    border-left: 15px solid;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    display: inline-block;
    content: '';
    position: absolute;
    left: 0px;
    top: 0;
}

.block-arrow:after {
    color: #4797A8;
    border-left: 15px solid;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    display: inline-block;
    content: '';
    position: absolute;
    right: -15px;
    top: 0;
}

.PropertyDetailsMainAddress {
    margin: 22px 15px 11px;
    overflow: hidden;
    padding-bottom: 11px;
    border-bottom: 1px solid #ccc;
}

.PropertyDetailsPrimary {
    float: left;
}

.PropertyDetailsSecondary {
    float: right;
    width: 160px;
    text-align: right;
}

.PropertyDetailsAddressType {
    font-weight: 300;
    padding: 0;
    border: 0;
    margin: 0;
    text-transform: none;
    line-height: 1.42857;
    color: #4797A8;
    font-size: 28px;
}

.PropertyDetailsAddress {
    font-weight: 400;
    font-size: 19px;
    color: #4797A8;
}

.PropertyDetailsPrice {
    font-weight: 600;
    font-size: 28px;
    margin: 0;
    color: #4797A8;
}

.PropertyDetailsQualifier {
    font-weight: 300;
    margin: 0;
    color: #4797A8;
    margin-bottom:10px;
}

.PropertyDetailsSold {
    background: #e11b22;
    color: #fff;
    cursor: default;
    border: 0;
    border-radius: 0;
    font-weight: 400;
    text-transform: none;
    text-decoration: none;
    margin-top:10px;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.42857;
}

* {
    box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
    position: relative;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover,
    .next:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Container for image text */
.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Six columns side by side */
.column {
    float: left;
    width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
    opacity: 0.6;
}

    .active,
    .demo:hover {
        opacity: 1;
    }