@model EstateAgents.IMS.Models.Home.HomeViewModel

<div class="jumbotron" href="/articles" style="margin-bottom:10px;">
    <h1><i Class="fa fa-smile-o text-success hidden-xs"></i> Hi @Model.EmployeeDetails.Forename</h1>
    <p> Welcome to your Employee <b class="text-success">Dashboard</b> </p>
</div>



@if (Model.UserRole == "Admin")
{
    <div class="row" style="margin-bottom:-15px;">
        <div class="col-md-12">
            <h3 class="text-success"><b>Manage staff below</b></h3>
        </div>
    </div>

    <hr />
    <div class="row" style="margin-bottom:20px;">
        <div class="col-sm-4 text-center">
            <a href="/EmployeeManagement/ManageEmployees" class="service-icon">
                <i class="fa fa-users" title="Manage Employees"></i>
                <h3>Manage Employees</h3>
            </a>
        </div>
    </div>
    <hr />
}
else
{
    <div class="row" style="margin-bottom:-15px;">
        <div class="col-md-12">
            <h3 class="text-success"><b>Manage your workload below</b></h3>
        </div>
    </div>

    <hr />
    <div class="row" style="margin-bottom:20px;">
        <div class="col-sm-3 text-center">
            <a href="/CustomerManagement/ManageCustomers" class="service-icon">
                <i class="fa fa-user" title="Manage Customers"></i>
                <h3>Manage Customers</h3>
            </a>
        </div>
        <div class="col-sm-3 text-center">
            <a href="/CustomerManagement/ManageMessages" class="service-icon">
                <i class="fa fa-envelope" title="Manage Messages"></i>
                <h3>Manage Messages</h3>
            </a>
        </div>
        <div class="col-sm-3 text-center">
            <a href="/CustomerManagement/ManageEnquiries" class="service-icon">
                <i class="fa fa-question-circle-o" title="Manage Enquiries"></i>
                <h3>Manage Enquiries</h3>
            </a>
        </div>
        <div class="col-sm-3 text-center">
            <a href="/PropertyManagement/ManageViewings" class="service-icon">
                <i class="fa fa-search-plus" title="Manage Viewings"></i>
                <h3>Manage Viewings</h3>
            </a>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-3 text-center">
            <a href="/PropertyManagement/ManageOffers" class="service-icon">
                <i class="fa fa-money" title="Manage Offers"></i>
                <h3>Manage Offers</h3>
            </a>
        </div>
        <div class="col-sm-3 text-center">
            <a href="/ServiceManagement/ManageValuations" class="service-icon">
                <i class="fa fa-percent" title="Manage Valuations"></i>
                <h3>Manage Valuations</h3>
            </a>
        </div>
        <div class="col-sm-3 text-center">
            <a href="/ServiceManagement/ManageRemovals" class="service-icon">
                <i class="fa fa-exchange" title="ManageRemovals"></i>
                <h3>Manage Removals</h3>
            </a>
        </div>
    </div>
    <hr />
}




