@model EstateAgents.IMS.Models.Home.HomeViewModel
@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron" href="/articles" style="margin-bottom:10px;">
    @if (User.Identity.IsAuthenticated)
    {
        <h1><i Class="fa fa-smile-o text-success hidden-xs"></i> Hi @Model.Employee.Forename</h1>
        <p> Welcome to your LJ Properties <b class="text-success">Dashboard</b> </p>
    }
    else
    {
        <div id="register-content">

            <h1>
                <i class="fa fa-sign-in text-success hidden-xs"></i>
                Register today
            </h1>

            <div class="row">

                <div class="col-sm-9 col-lg-10">
                    @if (User.Identity.IsAuthenticated == false)
                    {
                        <p class="col-sm-12 hidden-xs">
                            Already a member? <a href="/account/login">Click here</a>
                        </p>
                    }
                </div>

                <div class="col-sm-3 col-lg-2">
                    <a class="btn btn-success btn-block" href="/account/register">Register</a>
                </div>

            </div>
        </div>
    }

</div>



