@model EstateAgents.IMS.Models.CustomerManagement.CustomerDetailsViewModel

    <ul class="breadcrumb hidden-xs">
        <li>
            <a href="/Home/Index">Home</a>
        </li>
        <li>
            Customer Management
        </li>
        <li>
            <a href="/CustomerManagement/ManageCustomers">Manage Customers</a>
        </li>
        <li>
            Customer Details
        </li>
    </ul>

<div class="jumbotron">
    <h1>
        <i class="fa fa-user text-success hidden-xs"></i>
        Customer Details
    </h1>
    <p>View customer details</p>
</div>
