@model EstateAgents.IMS.Models.CustomerManagement.CustomerMessagesViewModel

<ul class="breadcrumb hidden-xs">
    <li>
        <a href="/Home/Index">Home</a>
    </li>
    <li>
        Customer Management
    </li>
    <li>
        <a href="/CustomerManagement/ManageCustomers">Manage Customers</a>
    </li>
    <li>
        Customer Messages
    </li>
</ul>

<div class="jumbotron">
    <h1>
        <i class="fa fa-user text-success hidden-xs"></i>
        Customer Messages
    </h1>
    <p>View customer messages</p>
</div>

