@model EstateAgents.WebPortal.Models.Properties.PropertyMakeOfferViewModel

<ul class="breadcrumb hidden-xs">
    <li>
        <a href="/Home/Index">Home</a>
    </li>
    <li>
        <a href="/Property/PropertyShowroom">Property Showroom</a>
    </li>
    <li>
        <a href="/Property/PropertyDetails/@Model.PropertyDetails.Id">Property Details</a>
    </li>
    <li>
        Make an Offer
    </li>
</ul>