@{
    ViewBag.Title = "Home Page";
}

<ul class="breadcrumb hidden-xs">
    <li>
        <a href="/Home/Index">Home</a>
    </li>
    <li>
        <a href="/Property/PropertyShowroom">Property Showroom</a>
    </li>
    <li>
        Property Details
    </li>
</ul>